*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem; 
}

h1 {
    font-size: 3rem;
}
button {
    display: inline-block;
    background-color: #38cfd9;
    padding: .75em 2em;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 900;
    padding: .75em 2em;
    color: #23424A;
}
p {
    margin-bottom: 3em;
}

.container {
    padding: 100px 0px;
    background-color: #23424A;
    color: white;
}
.width-container {
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
}
.text-container {
    width: 75%;
}

